/Management-Server/build/
/Management-Server/build/classes/
/Management-Server/build/tmp/
/Management-Server/build/kotlin/
/Management-Server/build/generated/
/Client/build/
/Client/build/classes/
/Client/build/tmp/
/Client/build/kotlin/
/Client/build/generated/
/Server/build/
/Server/build/classes/
/Server/build/tmp/
/Server/build/kotlin/
/Server/build/generated/
/Server/data/eco/bot_offers.json
/File-Server/build/
/File-Server/build/classes/
/File-Server/build/tmp/
/File-Server/build/kotlin/
/File-Server/build/generated/
**/.idea/workspace.xml
**/.idea/tasks.xml
Server/**/*.class
CompiledServer/*
CompiledServer/
Server/gradle/
Server/build/
Server/.gradle/
Client/gradle/
Client/build/
Client/.gradle/
Management-Server/.gradle
Management-Server/build/
Management-Server/org/
Server/data/eco/grand_exchange_db.emp
Single-Player/*
Single-Player/
docker
.gradle
gradle
.idea
.idea/
Server/worldprops/
Management-Server/managementprops/
/Development-Client/
**/*.swp
**/*.swo
build/kotlin/sessions/
