# Prefer no and generating a strong password for the root (+ special) user
MYSQL_ALLOW_EMPTY_PASSWORD="no"

# You can change the db name also for obscurity.
# Has to be changed in the default.conf and in the global.sql init file then also.
MYSQL_DATABASE="global"

# Beware: if not using root user, the database 'global' requires granting permissions for that user
# Root user is created automatically so dont provide it here.
#MYSQL_USER="dbuser"
#MYSQL_PASSWORD="CHANGEMEIFNOTUSINGROOTANDINGLOBALCONF"

# Comment this out if you are using random root pw (below).
MYSQL_ROOT_PASSWORD="ALWAYSCHANGEMEHEREANDINGLOBALCONFIFUSINGROOT"

# Or you can use a special non-root db user and generate a random pw for the root user instead.
# To improve security
# However, either initial root user access
# or editing Server/db_exports/global.sql to add grants for 'global' to the special user above.
MYSQL_RANDOM_ROOT_PASSWORD="no"
